<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:sport.properties"/>
    <!-- Define your beans here -->
    <bean id="myFortune" class="pl.fraczek.spring.demo.fortune.RandomFortune">
    </bean>

    <bean id="myCoach" class="pl.fraczek.spring.demo.coaches.BaseballCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="mySwimmingCoach" class="pl.fraczek.spring.demo.coaches.SwimmingCoach">
        <property name="fortuneService" ref="myFortune"/>
        <property name="email" value="best.swimmers@swimming.com"/>
        <property name="teamName" value="BestSwimmers"/>
    </bean>

    <bean id="myTennisCoach" class="pl.fraczek.spring.demo.coaches.TennisCoach">
        <constructor-arg ref="myFortune"/>
        <property name="email" value="${foo.email}"/>
        <property name="teamName" value="${foo.team}"/>
    </bean>

</beans>





